<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Product List</h1>
      <div>
        <ul>
          <li th:each="product : ${products}">
            <h2>
              <a th:href="@{'/product/' + ${product.id}}">
                <span th:text="${product.name}"></span>
              </a>
            </h2>
          </li>
        </ul>
      </div>

      <div sec:authorize="!isAuthenticated()">
        <span>
          <button class="hover-button">
            <a href="/login"><h3>Login</h3></a>
          </button>
        </span>
      </div>
    
      <div sec:authorize="!isAuthenticated()">
        <span>
          <button class="hover-button">
            <a href="/register"><h3>Register</h3></a>
          </button>
        </span>
      </div>

      <div sec:authorize="isAuthenticated()">
        <span>
          <button class="hover-button">
            <a href="/orders"><h3>My Orders</h3></a>
          </button>
        </span>
      </div>

      <div sec:authorize="isAuthenticated()">
        <span>
          <button class="hover-button">
            <a href="/logout"><h3>Logout</h3></a>
          </button>
        </span>
      </div>
      
    </div>
  </body>
</html>
