<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <h1>Product List</h1>
    <div> 
        <ul>
            <li th:each="product : ${products}">
                <h2>
                    <a th:href="@{'/product/' + ${product.id}}">
                        <span th:text="${product.name}"></span>
                    </a>
                </h2>
            </li>
        </ul>
    </div>

    <div id = Box>
        <a href="/login">Login</a><br>
    </div>
    <div id = Box>
        <a href="/logout">Logout</a>  
    </div>

    <div id = Box>
      <button class ="regBtn">Register</button>
    </div>
    <style>
        body{
            background-color: bisque;   
        }
    </style>
    
</body>
</html>