<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
</head>
<body>
    <div>
        <h1>Product Detail</h1>
        <h2>Name: <span th:text="${product.name}"></span></h2>
        <h2>Description: <span th:text="${product.description}"></span></h2>
        <h2>Price: <span th:text="${product.price}"></span></h2>
        <!--<h2 th:text="${product.image}"></h2> -->
        <img th:src="${product.image}" alt="Product Image">
    </div>
    <div>
        <a href="/">Tillbaka</a>
    </div>
</body>
</html> 