<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Detail</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Product Detail</h1>
      <h2>Name: <span th:text="${product.name}"></span></h2>
      <h2>Description: <span th:text="${product.description}"></span></h2>
      <h2>Price: <span th:text="${product.price}"></span></h2>
      <img class="image" th:src="${product.image}" alt="Product Image" />
      <div sec:authorize="isAuthenticated()">
        <button class="hover-button">
          <a>Add to cart</a>
        </button>
      </div>
      <br /><button class="hover-button"><a href="/">Home</a></button>
    </div>
      
    

  </body>
</html>
